/* //////////////////////////////////// */
/* ////////////// HEADER ////////////// */
/* //////////////////////////////////// */

#header {
    font-family: 'ABCSynt-Italic-Trial';
    font-size: 2em;
    padding: 0.1em;
    padding-left: 0.5em;
    border-bottom: 2px solid white;
    color: white;
    background-color: blue;
}

#header a {
    text-decoration: none;
    color: white;
}

#header a:hover {
    color: orangered;
}

svg {
    height: 1em;
    fill: white;
}

.hidebr {
    display: none;
}

p {
    display: inline;
}

#apropos {
    display: none;
    position: fixed;
    z-index: 2000;
    top: 20%;
    right: 20%;
    width: 30%;
    color: white;
    background-color: black;
    border: 2px solid white;
    padding: 2%;
    font-size: 0.8em;
}

/* //////////////////////////////////// */
/* //////////////////////////////////// */

/* //////////////////////////////////// */
/* /////////// MEDIA QUERIES ////////// */
/* //////////////////////////////////// */

/* Portrait and Landscape */
@media only screen and (max-device-width: 700px) {}
