/* //////////////////////////////////// */
/* /////////////// INDEX ////////////// */
/* //////////////////////////////////// */

a {
    text-decoration: none;
    color: black;
}


h1 {
    font-size: 7vw;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
}

h1:hover {
    cursor: pointer;
    font-family: 'ABCSynt-Turbo-Trial';
}

.projet p {
    font-family: 'ABCSynt-Italic-Trial';
    color: white;
    padding-bottom: 0.4%;
    position: absolute;
    left: 60%;
}

/* //////////////////////////////////// */
/* ////////////// CONTENU ///////////// */
/* //////////////////////////////////// */

#listeprojet {
    background-color: black;
    margin-top: 2.3em;
}

/* Forme du curseur au survol des div projet */
.projet {
    border-bottom: 4px solid white;
    display: flex;
    align-items: flex-end;
}

/* images */
#listeprojet img {
    border: 4px solid white;
    opacity: 0;
    height: 350px;
    position: absolute;
    transition: opacity .5s ease-in;
    transition: left .2s linear;
    transition: top .2s linear;
}