/* //////////////////////////////////// */
/* ////////////// HEADER ////////////// */
/* //////////////////////////////////// */

#header a {
    text-decoration: none;
    color: black;
}

#header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: white;
    font-family: 'ABCSynt-Italic-Trial';
/*
    padding: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 5vw;
*/
    font-size: 1.3em;
    border-bottom: 1px solid black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    float: left;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

#header .liright {
    float: right;
    padding-bottom: 0vw;
    
}

svg {
    fill: black;
    height: 24px;
}